<div ng-app="zigotoo" class="container padded">
    <div ng-controller="PageAnimalCtrl">
        <h1><span editable-text="pageAnimal.nom" blur="ignore"
                  onbeforesave="validateNom($data)"
                  onaftersave="commit()"
                  ng-bind="pageAnimal.nom || 'saisir'"
                  id="animal-nom">{{ pageAnimal.nom }}</span>
        </h1>
        <!-- id : {{ pageAnimal.id }} -->
        <!-- HEAD : {{ pageAnimal.head }} -->
        <!-- owner : {{ pageAnimal.owner.id }} -->

        <section>
            <header>
                <div id="date-naissance">Date de naissance :
                    <span
                        editable-text="dateNaissanceString" blur="ignore"
                        onbeforesave="validateDateNaissance($data)"
                        onaftersave="dateNaissanceChanged()"
                        ng-bind="dateNaissanceString || 'saisir'">{{ pageAnimal.dateNaissance | date("d/m/Y") }}</span>
                </div>
            </header>
            <article class="multi-line description"
                     id="description"
                     onaftersave="commit()"
                     editable-textarea="pageAnimal.description"
                     blur="ignore"
                     e-rows="10" e-cols="100"
                     ng-bind="pageAnimal.description || 'Saisir'"
            >{{ pageAnimal.description }}</article>
        </section>
    </div>
</div>