<div class="container padded">
    <nav>
        <a href="{{ path('getPageEleveur_route', {'pageEleveurSlug': pageEleveur.slug}) }}">
            {{ pageEleveur.nom }}
        </a>
    </nav>

    <section ng-app="zigotoo">
        <div ng-controller="PageAnimalCtrl">
            <h1><span editable-text="pageAnimal.nom" blur="ignore"
                      onbeforesave="validateNom($data)"
                      onaftersave="commit()"
                      ng-bind="pageAnimal.nom || 'saisir'"
                      id="animal-nom">{{ pageAnimal.nom }}</span>
            </h1>
            <!-- id : {{ pageAnimal.id }} -->
            <!-- HEAD : {{ pageAnimal.head }} -->
            <!-- owner : {{ pageAnimal.owner.id }} -->

            <header>
                <div class="text-right-tiny-left">
                    {% if isEditable %}
                        <select
                            id="statut"
                            class="statut chip {% verbatim %}{{ pageAnimal.statut | pageAnimalStatut }}{% endverbatim %}"
                            ng-model="pageAnimal.statut" z-integer-model
                            ng-change="commit()">
                            {% for statut in [
                                constant('AppBundle\\Entity\\PageAnimal::DISPONIBLE'),
                                constant('AppBundle\\Entity\\PageAnimal::OPTION'),
                                constant('AppBundle\\Entity\\PageAnimal::RESERVE')
                            ] %}
                                <option value="{{ statut }}"
                                        {{ pageAnimal.statut == statut ? "selected" : "" }}>
                                    {{ statut | translate_page_animal_statut }}
                                </option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <span id="statut" class="chip {{ pageAnimal.statut | chip_page_animal_statut }}">
                            {{ pageAnimal.statut | translate_page_animal_statut }}
                        </span>
                    {% endif %}
                </div>
                <div id="date-naissance" class="oneline-field">Date de naissance :
                    <span
                        editable-text="dateNaissanceString" blur="ignore"
                        onbeforesave="validateDateNaissance($data)"
                        onaftersave="dateNaissanceChanged()"
                        ng-bind="dateNaissanceString || 'saisir'">{{ pageAnimal.dateNaissance | date("d/m/Y") }}</span>
                </div>
            </header>

            <div ngf-drop ngf-select
                 class="image-drop"
                 accept="image/*"
                 ngf-pattern="'image/*'"
                 ngf-multiple="true"
                 ngf-keep="'distinct'"
                 ng-model="dirtyPhotos"
                 ngf-change="uploadPhotos($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
            >+ Ajouter une photo</div>

            <div class="grid-3">
                {% verbatim %}
                    <img ng-repeat="photo in dirtyPhotos" class="photo" ngf-thumbnail="photo.file || ('https://s3-eu-west-1.amazonaws.com/zigotoo-runtime/images/' + photo.nom)">
                {% endverbatim %}
            </div>

            <p class="multi-line description"
                     id="description"
                     onaftersave="commit()"
                     editable-textarea="pageAnimal.description"
                     blur="ignore"
                     e-rows="10" e-cols="100"
                     ng-bind="pageAnimal.description || 'Saisir'"
            >{{ pageAnimal.description }}</p>
        </div>
    </section>
</div>