<div class="container padded">
    <nav>
        <a href="{{ path('getPageEleveur_route', {'pageEleveurSlug': pageEleveur.slug}) }}">
            {{ pageEleveur.nom }}
        </a>
    </nav>

    <section ng-app="zigotoo">
        <div ng-controller="PageAnimalCtrl">
            <h1><span editable-text="pageAnimal.nom" blur="ignore"
                      onbeforesave="validateNom($data)"
                      onaftersave="commit()"
                      ng-bind="pageAnimal.nom || 'saisir'"
                      id="animal-nom">{{ pageAnimal.nom }}</span>
            </h1>
            <!-- id : {{ pageAnimal.id }} -->
            <!-- HEAD : {{ pageAnimal.head }} -->
            <!-- owner : {{ pageAnimal.owner.id }} -->

            <header>
                <div class="text-right-tiny-left">
                    {% if isEditable %}
                        <select
                            id="statut"
                            class="statut chip {% verbatim %}{{ pageAnimal.statut | pageAnimalStatut }}{% endverbatim %}"
                            ng-model="pageAnimal.statut" z-integer-model
                            ng-change="commit()">
                            {% for statut in [
                                constant('AppBundle\\Entity\\PageAnimal::DISPONIBLE'),
                                constant('AppBundle\\Entity\\PageAnimal::OPTION'),
                                constant('AppBundle\\Entity\\PageAnimal::RESERVE')
                            ] %}
                                <option value="{{ statut }}"
                                        {{ pageAnimal.statut == statut ? "selected" : "" }}>
                                    {{ statut | translate_page_animal_statut }}
                                </option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <span id="statut" class="chip {{ pageAnimal.statut | chip_page_animal_statut }}">
                            {{ pageAnimal.statut | translate_page_animal_statut }}
                        </span>
                    {% endif %}
                </div>
                <div id="date-naissance" class="oneline-field">Date de naissance :
                    <span
                        editable-text="dateNaissanceString" blur="ignore"
                        onbeforesave="validateDateNaissance($data)"
                        onaftersave="dateNaissanceChanged()"
                        ng-bind="dateNaissanceString || 'saisir'">{{ pageAnimal.dateNaissance | date("d/m/Y") }}</span>
                </div>
            </header>

            {% if isEditable %}
                <div ngf-drop ngf-select
                     class="photo-drop"
                     id="photo-drop"
                     accept="image/*"
                     ngf-pattern="'image/*'"
                     ngf-multiple="true"
                     ngf-keep="'distinct'"
                     ng-model="dirtyPhotos"
                     ngf-change="uploadPhotos($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                >+ Ajouter une photo</div>
            {% endif %}

            <div class="grid-4-medium-3-small-2" id="gallerie">
                {% if isEditable %}
                    {% verbatim %}
                        <div class="photo" ng-repeat="photo in dirtyPhotos">
                            <div ng-click="deletePhoto(photo)">Supprimer</div>
                            <img ng-if="!photo.uploaded" ngf-thumbnail="photo">
                            <img ng-if="photo.uploaded"
                                ng-src="https://s3-eu-west-1.amazonaws.com/zigotoo-runtime/images/thumbnail/{{ photo.nom }}"
                                ng-click="gallerie($index)">
                        </div>
                    {% endverbatim %}
                {% else %}
                    {% for photo in pageAnimal.photos %}
                        <div class="photo">
                            <img src="https://s3-eu-west-1.amazonaws.com/zigotoo-runtime/images/thumbnail/{{ photo.nom }}"
                                data-photo-index="{{ loop.index0 }}">
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <p class="multi-line description"
                     id="description"
                     onaftersave="commit()"
                     editable-textarea="pageAnimal.description"
                     blur="ignore"
                     e-rows="10" e-cols="100"
                     ng-bind="pageAnimal.description || 'Saisir'"
            >{{ pageAnimal.description }}</p>
        </div>
    </section>
</div>

{# La lib JS PhotoSwipe a besoin d'avoir ce DOM dans la page. C'est le template de la popin #}
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
