<div ng-app="zigotoo" class="container padded">
    <div ng-controller="PageAnimalCtrl">
        <h1><span onaftersave="commit()" editable-text="pageAnimal.nom" blur="ignore"
              ng-bind="pageAnimal.nom || 'nom'"
              id="animal-nom">{{ pageAnimal.nom }}</span>
        </h1>
        <!-- id : {{ pageAnimal.id }} -->
        <!-- HEAD : {{ pageAnimal.head }} -->
        <!-- owner : {{ pageAnimal.owner.id }} -->

        <section>
            <header>
                <div id="date-naissance">Date de naissance : {{ pageAnimal.dateNaissance | date("d/m/Y") }}</div>
            </header>
            <article class="multi-line description"
                     id="description"
                     onaftersave="commit()"
                     editable-textarea="pageAnimal.description"
                     blur="ignore"
                     e-rows="10" e-cols="100"
                     ng-bind="pageAnimal.description || 'Saisir'"
            >{{ pageAnimal.description }}</article>
        </section>
    </div>
</div>