{% extends 'base.html.twig' %}
{% block title %}{{ pageEleveur.nom }}{% endblock %}
{% block body %}
    <h1>{{ pageEleveur.nom }}</h1>
    <section id="description">{{ pageEleveur.description }}</section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        // Initialisation des constantes Javascript
        var pageEleveur="{{ pageEleveur.id }}";
        var headCommit="{{ pageEleveur.commit.id }}";
    </script>
{% endblock %}