{% extends 'base.html.twig' %}
{% block title %}{{ pageEleveur.nom }}{% endblock %}
{% block body %}
    <div ng-app="zigoto">
        <h1>{{ pageEleveur.nom }}</h1>
        <section id="description">{{ pageEleveur.description }}</section>
        <div ng-controller="PageEleveurCtrl">
            <form>
                <input type="textarea" ng-model="pageEleveur.description" />
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        // Initialisation des constantes Javascript
        var globPageEleveur = {
            "id": "{{ pageEleveur.id }}",
            "commit": "{{ pageEleveur.commit.id }}",
            "description": "{{ pageEleveur.description }}"
        };
    </script>
    <script src="build/angular.js"></script>
    <script src="build/PageEleveurCtrl.js"></script>
{% endblock %}