{% extends 'base.html.twig' %}
{% block title %}{{ pageEleveur.nom }}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="build/xeditable.css">{% endblock %}
{% block body %}
    <div ng-app="zigoto">
        <div ng-controller="PageEleveurCtrl">
            <h1>{{ pageEleveur.nom }}</h1>

            <a onaftersave="commit()" href="#" editable-textarea="pageEleveur.description" e-rows="10" e-cols="100">
                <pre id="description" ng-bind="pageEleveur.description">{{ pageEleveur.description }}</pre>
            </a>
            <div class="animaux">
                <ul>
                    {% for animal in pageEleveur.commit.animaux %}
                        <li>{{ animal.nom }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if isOwner %}
        <!-- flag owner -->
        <script type="text/javascript">
            // flag const-js
            {% autoescape false %}
                var globPageEleveur = {{ jsonPageEleveur }};
            {% endautoescape %}
        </script>
        <script src="build/angular.js"></script>
        <script src="build/xeditable.min.js"></script>
        <script src="build/PageEleveurCtrl.js"></script>
    {% endif %}
{% endblock %}