<div ng-app="zigotoo" class="container padded">
    <div ng-controller="PageEleveurCtrl">
        <h1>{{ pageEleveur.nom }}</h1>

        <div class="grid-2-tiny-1">
            <div>
                {% if isOwner or pageEleveur.especes %}
                    <div class="field">
                        Animaux :
                        <span onaftersave="commit()" editable-text="pageEleveur.especes" blur="ignore"
                              ng-bind="pageEleveur.especes || 'saisir'"
                              e-placeholder="chats"
                              id="especes">
                            {{ pageEleveur.especes }}
                        </span>
                    </div>
                {% endif %}

                {% if isOwner or pageEleveur.races %}
                    <div class="field">
                        Race :
                        <span onaftersave="commit()" editable-text="pageEleveur.races" blur="ignore"
                              ng-bind="pageEleveur.races || 'saisir'"
                              e-placeholder="chartreux"
                              id="races">
                            {{ pageEleveur.races }}
                        </span>
                    </div>
                {% endif %}
            </div>
            <div class="text-right-tiny-left">
                {% if isOwner or pageEleveur.lieu %}
                    <div class="field">
                        Lieu :
                        <span onaftersave="commit()" editable-text="pageEleveur.lieu" blur="ignore"
                              ng-bind="pageEleveur.lieu || 'saisir'"
                              e-placeholder="chartreux"
                              id="lieu">
                            {{ pageEleveur.lieu }}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="description"
             onaftersave="commit()"
             editable-textarea="pageEleveur.description"
             blur="ignore"
             e-rows="10" e-cols="100">
            <pre id="description" ng-bind="pageEleveur.description || 'Ajouter une description'">{{ pageEleveur.description }}</pre>
        </div>
        <div class="animaux">
            <ul>
                {% if isOwner %}
                    {% verbatim %}
                        <li ng-repeat="animal in pageEleveur.animaux">
                            <a href="/animal/{{ animal.id }}">{{ animal.nom }}</a>
                        </li>
                    {% endverbatim %}
                {% else %}
                    {% for animal in pageEleveur.animaux %}
                        <li><a href="{{ path('getPageAnimal_route', {'pageAnimalId': animal.id}) }}">{{ animal.nom }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>

            {% if isOwner %}
                <button ng-click="addAnimal()" class="btn">Ajouter un animal</button>
            {% endif %}
        </div>
    </div>
</div>