<div ng-app="zigotoo" class="container padded">
    <div ng-controller="PageEleveurCtrl">

        {% if isEditable %}
            <div id="eleveur-toolbar">
                <a class="btn" id="preview" href="{{ path('getPageEleveur_route', {'pageEleveurSlug': pageEleveur.slug}) }}?preview" target="_blank">Prévisualiser</a>
            </div>
        {% endif %}

        <h1>{{ pageEleveur.nom }}</h1>
        <!-- id : {{ pageEleveur.id }} -->
        <!-- HEAD : {{ pageEleveur.head }} -->
        <!-- owner : {{ pageEleveur.owner.id }} -->

        <section>
            <header class="grid-2-tiny-1">
                <div>
                    {% if isEditable or pageEleveur.especes %}
                        <div class="oneline-field">
                            <label>Animaux :</label>
                            <span onaftersave="commit()" editable-text="pageEleveur.especes" blur="ignore"
                                  ng-bind="pageEleveur.especes || 'saisir'"
                                  e-placeholder="chats"
                                  id="especes">
                                {{ pageEleveur.especes }}
                            </span>
                        </div>
                    {% endif %}

                    {% if isEditable or pageEleveur.races %}
                        <div class="oneline-field">
                            <label>Race :</label>
                            <span onaftersave="commit()" editable-text="pageEleveur.races" blur="ignore"
                                  ng-bind="pageEleveur.races || 'saisir'"
                                  e-placeholder="chartreux"
                                  id="races">
                                {{ pageEleveur.races }}
                            </span>
                        </div>
                    {% endif %}
                </div>
                <div class="text-right-tiny-left">
                    {% if isEditable or pageEleveur.lieu %}
                        <div class="oneline-field">
                            <label>Lieu :</label>
                            <span onaftersave="commit()" editable-text="pageEleveur.lieu" blur="ignore"
                                  ng-bind="pageEleveur.lieu || 'saisir'"
                                  e-placeholder="Île-de-France"
                                  id="lieu">
                                {{ pageEleveur.lieu }}
                            </span>
                        </div>
                    {% endif %}
                </div>
            </header>

            <article class="multi-line description"
                 id="description"
                 onaftersave="commit()"
                 editable-textarea="pageEleveur.description"
                 blur="ignore"
                 e-rows="10" e-cols="100"
                 ng-bind="pageEleveur.description || 'Ajouter la description de votre élevage'"
            >{{ pageEleveur.description }}</article>

        </section>

        <section class="animaux" id="animaux">
            {% if isEditable %}
                {% verbatim %}
                    <span class="tabs">
                        <button ng-click="tab = PageEleveurTab.EN_VENTE" class="btn {{ tab == PageEleveurTab.EN_VENTE ? 'active' : '' }}">En vente</button>
                        <button ng-click="tab = PageEleveurTab.ADOPTE" class="btn {{ tab == PageEleveurTab.ADOPTE ? 'active' : '' }}">Adoptés</button>
                    </span>
                    <button ng-click="addAnimal()" class="btn ajout-animal" id="ajout-animal">Ajouter un animal</button>
                {% endverbatim %}
            {% endif %}

            <ul class="grid-4-medium-3-small-2">
                {% if isEditable %}
                    {% verbatim %}
                        <li class="animal" ng-repeat="pageAnimal in pageEleveur.animaux | pageEleveurTabFilter:tab">
                            <a href="/animal/{{ pageAnimal.id }}" class="animal">{{ pageAnimal.nom }}</a>
                            <span class="statut-animal chip {{ pageAnimal.statut | pageAnimalChipStatut }}">{{ pageAnimal.statut | pageAnimalTranslateStatut }}</span>
                            <img class="animal-photo" ng-if="pageAnimal.photos.length" ng-src="https://s3-eu-west-1.amazonaws.com/zigotoo-runtime/images/thumbnail/{{ pageAnimal.photos[0].nom }}">
                            <span class="animal-photo" ng-if="!pageAnimal.photos.length">Aucune photo</span>
                            <button ng-click="supprimerAnimal(pageAnimal)" class="btn supprimer-animal">Supprimer</button>
                        </li>
                    {% endverbatim %}
                {% else %}
                    {% for pageAnimal in pageEleveur.animaux %}
                        {% if pageAnimal.statut is not constant('AppBundle\\Entity\\PageAnimal::ADOPTE') %}
                            <li class="animal">
                                <a href="{{ path('getPageAnimal_route', {'pageAnimalId': pageAnimal.id}) }}">{{ pageAnimal.nom }}</a>
                                <span class="statut-animal chip {{ pageAnimal.statut | chip_page_animal_statut }}">{{ pageAnimal.statut | translate_page_animal_statut }}</span>
                                {% if pageAnimal.photos | length > 0 %}
                                    <img class="animal-photo" src="https://s3-eu-west-1.amazonaws.com/zigotoo-runtime/images/thumbnail/{{ pageAnimal.photos[0].nom }}">
                                {% else %}
                                    <span class="animal-photo">Aucune photo</span>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </section>


        {% if isEditable or pageEleveur.actualites %}
            <section id="actualites">
                <h2>Actualités</h2>

                {% if isEditable %}
                    <button id="ajouter-actualite" ng-click="addActualite()" class="btn">Nouvelle actualité</button>
                {% endif %}

                {% if isEditable %}
                    {% verbatim %}
                        <article ng-repeat="actualite in pageEleveur.actualites | orderBy:'':true" class="actualite">
                            <header class="actualite-date">
                                <span class="italic">{{ actualite.date | date : 'dd/MM/yyyy' }}</span>
                                <button class="btn supprimer-actualite" ng-click="removeActualite(actualite)">Supprimer</button>
                            </header>
                            <div class="multi-line"
                                 onaftersave="commit()"
                                 editable-textarea="actualite.contenu"
                                 blur="ignore"
                                 e-rows="10" e-cols="100"
                                 ng-bind="actualite.contenu || 'Saisir'"
                            >{{ actualite.contenu }}</div>
                        </article>
                    {% endverbatim %}
                {% else %}
                    {% for actualite in pageEleveur.actualites | reverse %}
                        <article class="actualite"> <!-- {{ actualite.id }} -->
                            <header class="actualite-date"><span class="italic">{{ actualite.date | date("d/m/Y") }}</span></header>
                            {{ actualite.contenu }}
                        </article>
                    {% endfor %}
                {% endif %}
            </section>
        {% endif %}
    </div>
</div>