<div ng-app="zigotoo" class="container padded">
    <div ng-controller="PageEleveurCtrl">
        <h1>{{ pageEleveur.nom }}</h1>

        <div onaftersave="commit()" href="#" editable-textarea="pageEleveur.description" blur="ignore" e-rows="10" e-cols="100">
            <pre id="description" ng-bind="pageEleveur.description">{{ pageEleveur.description }}</pre>
        </div>
        <div class="animaux">
            <ul>
                {% if isOwner %}
                    {% verbatim %}
                        <li ng-repeat="animal in pageEleveur.animaux">
                            <a href="/animal/{{ animal.id }}">{{ animal.nom }}</a>
                        </li>
                    {% endverbatim %}
                {% else %}
                    {% for animal in pageEleveur.animaux %}
                        <li><a href="{{ path('getPageAnimal_route', {'pageAnimalId': animal.id}) }}">{{ animal.nom }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
            <button ng-click="addAnimal()" class="btn">Ajouter un animal</button>
        </div>
    </div>
</div>