<div ng-app="zigotoo" class="container padded">
    <div ng-controller="PageEleveurCtrl">
        <h1>{{ pageEleveur.nom }}</h1>
        <!-- id : {{ pageEleveur.id }} -->
        <!-- HEAD : {{ pageEleveur.head }} -->
        <!-- owner : {{ pageEleveur.owner.id }} -->

        <section>
            <header class="grid-2-tiny-1">
                <div>
                    {% if isOwner or pageEleveur.especes %}
                        <div class="oneline-field">
                            <label>Animaux :</label>
                            <span onaftersave="commit()" editable-text="pageEleveur.especes" blur="ignore"
                                  ng-bind="pageEleveur.especes || 'saisir'"
                                  e-placeholder="chats"
                                  id="especes">
                                {{ pageEleveur.especes }}
                            </span>
                        </div>
                    {% endif %}

                    {% if isOwner or pageEleveur.races %}
                        <div class="oneline-field">
                            <label>Race :</label>
                            <span onaftersave="commit()" editable-text="pageEleveur.races" blur="ignore"
                                  ng-bind="pageEleveur.races || 'saisir'"
                                  e-placeholder="chartreux"
                                  id="races">
                                {{ pageEleveur.races }}
                            </span>
                        </div>
                    {% endif %}
                </div>
                <div class="text-right-tiny-left">
                    {% if isOwner or pageEleveur.lieu %}
                        <div class="oneline-field">
                            <label>Lieu :</label>
                            <span onaftersave="commit()" editable-text="pageEleveur.lieu" blur="ignore"
                                  ng-bind="pageEleveur.lieu || 'saisir'"
                                  e-placeholder="Île-de-France"
                                  id="lieu">
                                {{ pageEleveur.lieu }}
                            </span>
                        </div>
                    {% endif %}
                </div>
            </header>

            <article class="multi-line description"
                 id="description"
                 onaftersave="commit()"
                 editable-textarea="pageEleveur.description"
                 blur="ignore"
                 e-rows="10" e-cols="100"
                 ng-bind="pageEleveur.description || 'Ajouter la description de votre élevage'"
            >{{ pageEleveur.description }}</article>

        </section>

        <section class="animaux">
            <ul>
                {% if isOwner %}
                    {% verbatim %}
                        <li ng-repeat="animal in pageEleveur.animaux">
                            <a href="/animal/{{ animal.id }}">{{ animal.nom }}</a>
                        </li>
                    {% endverbatim %}
                {% else %}
                    {% for animal in pageEleveur.animaux %}
                        <li><a href="{{ path('getPageAnimal_route', {'pageAnimalId': animal.id}) }}">{{ animal.nom }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>

            {% if isOwner %}
                <button ng-click="addAnimal()" class="btn">Ajouter un animal</button>
            {% endif %}
        </section>


        {% if isOwner or pageEleveur.actualites %}
            <section id="actualites">
                <h2>Actualités</h2>

                {% if isOwner %}
                    <button id="ajouter-actualite" ng-click="addActualite()" class="btn">Nouvelle actualité</button>
                {% endif %}

                {% if isOwner %}
                    {% verbatim %}
                        <article ng-repeat="actualite in pageEleveur.actualites | orderBy:'':true" class="actualite">
                            <header class="actualite-date">{{ actualite.date | date : 'dd/MM/yyyy' }}</header>
                            <div class="multi-line"
                                 onaftersave="commit()"
                                 editable-textarea="actualite.contenu"
                                 blur="ignore"
                                 e-rows="10" e-cols="100"
                                 ng-bind="actualite.contenu || 'Saisir'"
                            >{{ actualite.contenu }}</div>
                        </article>
                    {% endverbatim %}
                {% else %}
                    {% for actualite in pageEleveur.actualites | reverse %}
                        <article class="actualite"> <!-- {{ actualite.id }} -->
                            <header class="actualite-date">{{ actualite.date | date("d/m/Y")}}</header>
                            {{ actualite.contenu }}
                        </article>
                    {% endfor %}
                {% endif %}
            </section>
        {% endif %}
    </div>
</div>